:root {
  --app-orange-050: #fff3e6;
  --app-orange-100: #ffd8b0;
  --app-orange-200: #ffc68a;
  --app-orange-300: #ffab54;
  --app-orange-400: #ff9b33;
  --app-orange-500: #ff8200;
  --app-orange-600: #e87600;
  --app-orange-700: #b55c00;
  --app-orange-800: #b55c00;
  --app-orange-900: #6b3700;

  --app-green-050: #eef6ea;
  --app-green-100: #cae2bf;
  --app-green-200: #b1d4a0;
  --app-green-300: #8dc175;
  --app-green-400: #77b55a;
  --app-green-500: #55a231;
  --app-green-600: #4d932d;
  --app-green-700: #3c7323;
  --app-green-800: #2f591b;
  --app-green-900: #244415;

  --app-blue-050: #e6f5fc;
  --app-blue-100: #b0e1f4;
  --app-blue-200: #8ad2ef;
  --app-blue-300: #54bde8;
  --app-blue-400: #33b1e3;
  --app-blue-500: #009ddc;
  --app-blue-600: #008fc8;
  --app-blue-700: #006f9c;
  --app-blue-800: #005679;
  --app-blue-900: #00425c;

  --app-red-050: #ffe6e9;
  --app-red-100: #ffb0ba;
  --app-red-200: #ff8a99;
  --app-red-300: #ff546b;
  --app-red-400: #ff334e;
  --app-red-500: #ff0022;
  --app-red-600: #e8001f;
  --app-red-700: #b50018;
  --app-red-800: #8c0013;
  --app-red-900: #6b000e;

  --app-grey-050: #e9e9e9;
  --app-grey-100: #b9b9b9;
  --app-grey-200: #989898;
  --app-grey-300: #686868;
  --app-grey-400: #4b4b4b;
  --app-grey-500: #1e1e1e;
  --app-grey-600: #1b1b1b;
  --app-grey-700: #151515;
  --app-grey-800: #111111;
  --app-grey-900: #0d0d0d;

  --app-black: #000000;
  --app-white: #ffffff;

  --input-label: rgba(0, 0, 0, 0.7);

  --map-cluster-low: #55a231;
  --map-cluster-medium: #ff8200;
  --map-cluster-high: #ff0022;

  --app-filter-red-300: invert(44%) sepia(49%) saturate(2915%) hue-rotate(324deg) brightness(107%) contrast(101%);
  --app-filter-orange-300: invert(84%) sepia(22%) saturate(4271%) hue-rotate(322deg) brightness(108%) contrast(101%);
  --app-filter-red-500: invert(12%) sepia(74%) saturate(6735%)
    hue-rotate(347deg) brightness(102%) contrast(111%);
  --app-filter-grey-300: brightness(0) saturate(100%) invert(41%) sepia(0%)
    saturate(0%) hue-rotate(61deg) brightness(96%) contrast(90%);
    --app-filter-white: invert(99%) sepia(0%) saturate(0%) hue-rotate(277deg) brightness(109%) contrast(101%);
}
.dark-mode {
  --input-label: rgba(255, 255, 255, 0.7);
  --app-orange-050: #191919;
  --app-orange-100: #683400;
  --app-orange-200: #FFC68A;
  --app-orange-300: #FFB96E;
  --app-orange-400: #FFA94D;
  --app-orange-500: #FF901A;
  --app-orange-600: #FF8503;
  --app-orange-700: #CF6700;
  --app-orange-800: #A65600;
  --app-orange-900: #844400;

  --app-green-050: #1C1C1C;
  --app-green-100: #335225;
  --app-green-200: #B1D4A0;
  --app-green-300: #9CC987;
  --app-green-400: #85BD6C;
  --app-green-500: #5FB637;
  --app-green-600: #58A733;
  --app-green-700: #478729;
  --app-green-800: #396D21;
  --app-green-900: #CAEABB;

  --app-blue-050: #1B1B1B;
  --app-blue-100: #0E4D65;
  --app-blue-200: #8AD2EF;
  --app-blue-300: #6AC7EB;
  --app-blue-400: #49BAE6;
  --app-blue-500: #00B0F6;
  --app-blue-600: #00A2E2;
  --app-blue-700: #0082B6;
  --app-blue-800: #006992;
  --app-blue-900: #A3E5FF;

  --app-red-050: #191919;
  --app-red-100: #68000E;
  --app-red-200: #FF8A9A;
  --app-red-300: #FF6E81;
  --app-red-400: #FF4D64;
  --app-red-500: #FF1A38;
  --app-red-600: #FF0324;
  --app-red-700: #CF001C;
  --app-red-800: #A60016;
  --app-red-900: #840012;

  --app-grey-050: #232323;
  --app-grey-100: #B9B9B9;
  --app-grey-200: #989898;
  --app-grey-300: #686868;
  --app-grey-400: #4b4b4b;
  --app-grey-500: #E1E1E1;
  --app-grey-600: #E4E4E4;
  --app-grey-700: #FFFFFF;
  --app-grey-800: #FFFFFF;
  --app-grey-900: #FFFFFF;

  --app-black: #ffffff;
  --app-white: #0D0D0D;
}
.text-orange-050 {
  color: var(--app-orange-050);
}
.text-orange-100 {
  color: var(--app-orange-100);
}
.text-orange-200 {
  color: var(--app-orange-200);
}
.text-orange-300 {
  color: var(--app-orange-300);
}
.text-orange-400 {
  color: var(--app-orange-400);
}
.text-orange-500 {
  color: var(--app-orange-500);
}
.text-orange-600 {
  color: var(--app-orange-600);
}
.text-orange-700 {
  color: var(--app-orange-700);
}
.text-orange-800 {
  color: var(--app-orange-800);
}
.text-orange-900 {
  color: var(--app-orange-900);
}

.bg-orange-050 {
  background-color: var(--app-orange-050);
}
.bg-orange-100 {
  background-color: var(--app-orange-100);
}
.bg-orange-200 {
  background-color: var(--app-orange-200);
}
.bg-orange-300 {
  background-color: var(--app-orange-300);
}
.bg-orange-400 {
  background-color: var(--app-orange-400);
}
.bg-orange-500 {
  background-color: var(--app-orange-500);
}
.bg-orange-600 {
  background-color: var(--app-orange-600);
}
.bg-orange-700 {
  background-color: var(--app-orange-700);
}
.bg-orange-800 {
  background-color: var(--app-orange-800);
}
.bg-orange-900 {
  background-color: var(--app-orange-900);
}

.text-green-050 {
  color: var(--app-green-050);
}
.text-green-100 {
  color: var(--app-green-100);
}
.text-green-200 {
  color: var(--app-green-200);
}
.text-green-300 {
  color: var(--app-green-300);
}
.text-green-400 {
  color: var(--app-green-400);
}
.text-green-500 {
  color: var(--app-green-500);
}
.text-green-600 {
  color: var(--app-green-600);
}
.text-green-700 {
  color: var(--app-green-700);
}
.text-green-800 {
  color: var(--app-green-800);
}
.text-green-900 {
  color: var(--app-green-900);
}

.bg-green-050 {
  background-color: var(--app-green-050);
}
.bg-green-100 {
  background-color: var(--app-green-100);
}
.bg-green-200 {
  background-color: var(--app-green-200);
}
.bg-green-300 {
  background-color: var(--app-green-300);
}
.bg-green-400 {
  background-color: var(--app-green-400);
}
.bg-green-500 {
  background-color: var(--app-green-500);
}
.bg-green-600 {
  background-color: var(--app-green-600);
}
.bg-green-700 {
  background-color: var(--app-green-700);
}
.bg-green-800 {
  background-color: var(--app-green-800);
}
.bg-green-900 {
  background-color: var(--app-green-900);
}

.text-blue-050 {
  color: var(--app-blue-050);
}
.text-blue-100 {
  color: var(--app-blue-100);
}
.text-blue-200 {
  color: var(--app-blue-200);
}
.text-blue-300 {
  color: var(--app-blue-300);
}
.text-blue-400 {
  color: var(--app-blue-400);
}
.text-blue-500 {
  color: var(--app-blue-500);
}
.text-blue-600 {
  color: var(--app-blue-600);
}
.text-blue-700 {
  color: var(--app-blue-700);
}
.text-blue-800 {
  color: var(--app-blue-800);
}
.text-blue-900 {
  color: var(--app-blue-900);
}

.bg-blue-050 {
  background-color: var(--app-blue-050);
}
.bg-blue-100 {
  background-color: var(--app-blue-100);
}
.bg-blue-200 {
  background-color: var(--app-blue-200);
}
.bg-blue-300 {
  background-color: var(--app-blue-300);
}
.bg-blue-400 {
  background-color: var(--app-blue-400);
}
.bg-blue-500 {
  background-color: var(--app-blue-500);
}
.bg-blue-600 {
  background-color: var(--app-blue-600);
}
.bg-blue-700 {
  background-color: var(--app-blue-700);
}
.bg-blue-800 {
  background-color: var(--app-blue-800);
}
.bg-blue-900 {
  background-color: var(--app-blue-900);
}

.text-red-050 {
  color: var(--app-red-050);
}
.text-red-100 {
  color: var(--app-red-100);
}
.text-red-200 {
  color: var(--app-red-200);
}
.text-red-300 {
  color: var(--app-red-300);
}
.text-red-400 {
  color: var(--app-red-400);
}
.text-red-500 {
  color: var(--app-red-500);
}
.text-red-600 {
  color: var(--app-red-600);
}
.text-red-700 {
  color: var(--app-red-700);
}
.text-red-800 {
  color: var(--app-red-800);
}
.text-red-900 {
  color: var(--app-red-900);
}

.bg-red-050 {
  background-color: var(--app-red-050);
}
.bg-red-100 {
  background-color: var(--app-red-100);
}
.bg-red-200 {
  background-color: var(--app-red-200);
}
.bg-red-300 {
  background-color: var(--app-red-300);
}
.bg-red-400 {
  background-color: var(--app-red-400);
}
.bg-red-500 {
  background-color: var(--app-red-500);
}
.bg-red-600 {
  background-color: var(--app-red-600);
}
.bg-red-700 {
  background-color: var(--app-red-700);
}
.bg-red-800 {
  background-color: var(--app-red-800);
}
.bg-red-900 {
  background-color: var(--app-red-900);
}

.text-grey-050 {
  color: var(--app-grey-050);
}
.text-grey-100 {
  color: var(--app-grey-100);
}
.text-grey-200 {
  color: var(--app-grey-200);
}
.text-grey-300 {
  color: var(--app-grey-300);
}
.text-grey-400 {
  color: var(--app-grey-400);
}
.text-grey-500 {
  color: var(--app-grey-500);
}
.text-grey-600 {
  color: var(--app-grey-600);
}
.text-grey-700 {
  color: var(--app-grey-700);
}
.text-grey-800 {
  color: var(--app-grey-800);
}
.text-grey-900 {
  color: var(--app-grey-900);
}

.bg-grey-050 {
  background-color: var(--app-grey-050);
}
.bg-grey-100 {
  background-color: var(--app-grey-100);
}
.bg-grey-200 {
  background-color: var(--app-grey-200);
}
.bg-grey-300 {
  background-color: var(--app-grey-300);
}
.bg-grey-400 {
  background-color: var(--app-grey-400);
}
.bg-grey-500 {
  background-color: var(--app-grey-500);
}
.bg-grey-600 {
  background-color: var(--app-grey-600);
}
.bg-grey-700 {
  background-color: var(--app-grey-700);
}
.bg-grey-800 {
  background-color: var(--app-grey-800);
}
.bg-grey-900 {
  background-color: var(--app-grey-900);
}

.text-black {
  color: var(--app-black);
}
.bg-black {
  background-color: var(--app-black);
}

.text-white {
  color: var(--app-white);
}
.bg-white {
  background-color: var(--app-white);
}

