:root {
  --app-blue-8: #8287da;
  --app-blue-9: #6369d1;
  --app-white: #ffffff;
  --app-white-1: #f9f9f1;
  --app-black: #000000;
  --app-black-5: #adadad;
  --app-black-6: #999999;
  --app-black-8: #707070;
  --app-black-10: #333333;
  --app-grey-050: #e9e9e9;
  --app-grey-100: #b9b9b9;
  --app-grey-300: #686868;
  --app-red-10: #fa5738;
  --app-green-050: #eef6ea;
  --app-green-100: #cae2bf;
  --app-green-500: #55a231;
  --app-red-500: #ff0022;

  --input-label: rgba(0, 0, 0, 0.7);

  --map-cluster-low: #55a231;
  --map-cluster-medium: #ff8200;
  --map-cluster-high: #ff0022;
  --app-filter-red-500: invert(12%) sepia(74%) saturate(6735%)
    hue-rotate(347deg) brightness(102%) contrast(111%);
  --app-filter-grey-300: brightness(0) saturate(100%) invert(41%) sepia(0%)
    saturate(0%) hue-rotate(61deg) brightness(96%) contrast(90%);
}
.dark-mode {
  --app-blue-8: #8287da;
  --app-blue-9: #6369d1;

  --app-white-1: #f9f9f1;

  --app-black-5: #adadad;
  --app-black-6: #adadad;
  --app-black-8: #707070;
  --app-black-10: #f9f9f1;

  --app-red-10: #fa5738;

  --input-label: rgba(255, 255, 255, 0.7);
}
