:root {
  --app-blue-8: #8287da;
  --app-blue-9: #6369d1;
  --app-white: #ffffff;
  --app-white-1: #f9f9f1;

  --app-black-5: #adadad;
  --app-black-6: #999999;
  --app-black-8: #707070;
  --app-black-10: #333333;

  --app-red-10: #fa5738;

  --app-green-500: #55A231;
  --app-red-500: #FF0022;

  --input-label: rgba(0, 0, 0, 0.7);

  --map-cluster-low: #55A231;
  --map-cluster-medium: #FF8200;
  --map-cluster-high: #FF0022;
}
.dark-mode {
  --app-blue-8: #8287da;
  --app-blue-9: #6369d1;

  --app-white-1: #f9f9f1;

  --app-black-5: #adadad;
  --app-black-6: #adadad;
  --app-black-8: #707070;
  --app-black-10: #f9f9f1;

  --app-red-10: #fa5738;

  --input-label: rgba(255, 255, 255, 0.7);
}
