html,
body {
  font-family: Montserrat;
  color: var(--app-grey-500);
  font-size: 14px;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 0;
}
button {
  border: none;
  outline: none;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
