html,
body {
  font-family: Montserrat;
  color: var(--app-grey-500);
  font-size: 14px;
  font-weight: 500;
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
}
