.work-stage {
  color: var(--app-white);
}
.work-stage.created {
  background-color: var(--app-grey-200);
}
.work-stage.working {
  background-color: var(--app-orange-300);
}
.work-stage.completed {
  background-color: var(--app-green-400);
}

.account-state {
  color: var(--app-white);
}
.account-state.active {
  background-color: var(--app-green-300);
}
.account-state.blocked {
  background-color: var(--app-grey-300);
}

.event-status {
  color: var(--app-white);
}
.event-status.created {
  background-color: var(--app-grey-200);
}
.event-status.at-work {
  background-color: var(--app-orange-300);
}
.event-status.on-review {
  background-color: var(--app-blue-300);
}
.event-status.on-pause {
  background-color: var(--app-grey-050);
  color: var(--app-grey-500);
}
.event-status.rejected {
  background-color: var(--app-red-400);
}
.event-status.completed {
  background-color: var(--app-green-400);
}
