.gg-h1 {
    font-style: bold;
    font-size: 26px;
    line-height: normal;
}

.gg-h2 {
    font-style: bold;
    font-size: 23px;
    line-height: normal;
}

.gg-h3 {
    font-style: bold;
    font-size: 20px;
    line-height: normal;
}

.gg-t-big {
    font-style: normal;
    font-size: 18px;
    line-height: normal;
}

.gg-t-big-i {
    font-style: italic;
    font-size: 18px;
    line-height: normal;
}

.gg-t-base {
    font-style: normal;
    font-size: 16px;
    line-height: normal;
}

.gg-t-base-i {
    font-style: italic;
    font-size: 16px;
    line-height: normal;
}

.gg-t-small {
    font-style: normal;
    font-size: 14px;
    line-height: normal;
}

.gg-t-small-i {
    font-style: italic;
    font-size: 14px;
    line-height: normal;
}

.gg-cap {
    font-style: normal;
    font-size: 13px;
    line-height: normal;
}