$app-desktop: 1294px;
$app-laptop: 960px;
$app-mobile: 600px;
$app-narrow-mobile: 364px;

.form-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 32px;
  &__head {
    text-align: center;
    margin-bottom: 48px;
  }
  &__input-fields {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__info-text {
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    color: var(--app-blue-9);
    &--small {
      font-size: 12px;
    }
    &--error {
      color: var(--app-red-10);
      font-style: normal;
      font-weight: 500;
    }
  }
}
.form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 32px 32px 0px 32px;
  @media screen and (max-width: $app-mobile) {
    margin: 32px 0px 0px 0px;
  }
}
.action-label {
  color: var(--app-green-500);
  cursor: pointer;
}
.link-label {
  color: var(--app-blue-500);
  cursor: pointer;
}
